@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic)
$red: #FFA542
body
    font-family: 'Montserrat', sans-serif
    background: url("./assets/Background.png")
    font-size: 17px
.header
    display: flex
    justify-content: space-between

.marks
    display: flex
    justify-content: space-between

.mark
    position: relative
    width: 62px
    height: 60px
    &__volume
        position: absolute
        top: 12px
        right: 10px
        background: #FFA542
        text-align: center
        border-radius: 50%
        height: 18px
        width: 17.4px
        color: #fff
        z-index: 2
        font-size: 15px
    &__svg
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)

.card
    padding: 12px
    margin: 1rem
    max-width: 350px
    background: #fff
    border-radius: 10%
    box-shadow: 0 0 20px rgba(0,0,0,10%)
    &__img
        grid-area: img
        text-align: center

.data
    margin: 54.2px 18px 26.65px 21.96px
    display: grid
    grid-template-areas: "title price" "rate deal"
    grid-template-rows: 1fr 1fr

    &__title
        margin: 0
        grid-area: title
        justify-self: start
        font-size: 17px
        font-weight: bold
    &__prising
        grid-area: price
        color: $red
    &__currentprice
        color: $red
        display: flex
        justify-content: space-between

    &__previousprice
        text-decoration: line-through
        color: $red
        font-size: 13px
        text-align: right

    &__rating
        grid-area: rate
        display: flex
        justify-self: start
        align-items: end

    &__deal
        margin: 0
        padding: 0
        grid-area: deal
        background: unset
        border: none
        text-align: right
        align-self: end
        font-size: 1rem
        font-weight: bold
        font-family: 'Montserrat', sans-serif
        cursor: pointer
